@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0;
}

body {
    margin-top: 10px;
}

/* Banner Section styles */

header {
    display: flex;
    justify-content: center;
}

.banner-img {
    width: 1320px;
    height: 600px;
}

.gradient {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner-text {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 50%;
    top: 30%;
}

.banner-text h4 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 10px;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    padding: 10px;
    transition: ease-in-out 0.3s;
    cursor: ointer;
}
.banner-text h1:hover{
    color: #F00;
}


/* Main */

/* Section 1 */
.section-1 {
    margin-top: 120px;
    text-align: center;
}

.section-1 h1 {
    font-size: 88px;
    color: #F00;
    padding: 10px;
    margin-bottom: 20px;
}

.section-1 p {
    font-size: 20px;
    color: #F00;
    font-weight: 500;
}

.section-1 h3 {
    font-size: 42px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    padding-top: 12px
}

.sectionImg-1 {
    margin-top: 42px;
}


/* Section 2 */

.section-2 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    color: white;
    position: relative;
}

.gradient-2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.section-details {
    display: flex;
    position: absolute;
    bottom: 50%;
    top: 25%;
    gap: 60px;
}

.messege h2 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 7px;
    padding: 10px;
    margin-bottom: 8px;
}

.messege p {
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 70px;
}

.messege a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: 800;
    transition: 0.2s linear;
}

.messege a:hover {
    color: #F00;
}

.section-vector {
    display: flex;
    width: 300px;
    height: 400px;
}


/* Section 3 */

.section-3 {
    justify-content: center;
    display: flex;
    margin-top: 120px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}


.location {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;

}

.sec-3-info {
    margin-top: 100px;
}

.sec-3-info span {
    color: #F00;
    margin-right: 5px;
    font-weight: 600;
}

.sec-3-info h3 {
    line-height: 45px;
    font-size: 25px;
}

.sec-3-info button {
    background-color: #F00;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    color: white;
    margin-top: 45px;
    transition: ease 0.2s;
    font-size: 15px;
}

.sec-3-info button:hover {
    background-color: rgb(12, 12, 12);
    color: #F00;
    cursor: pointer;
    box-shadow: 2px 2px 5px #F00;
}




/* Section 4 */

.section-4 {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    gap: 60px;
}

.offer-div {
    width: 900px;
}

.offer-div h4 {
    color: #F00;
    font-weight: 900;
    margin-bottom: 10px;
}

.offer-div h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
}

.offer-div p {
    color: rgb(65, 65, 65);
    line-height: 25px;
}

.cen-image {
    border: solid 10px #F00;
    border-radius: 100%;
    padding: 20px;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.cen-image:hover{
    scale: 110%;
}

.ad {
    padding-top: 100px;
}

.ad h2 {
    font-weight: 900;
    color: #F00;
    margin-bottom: 15px;
    font-size: 35px;
}

.ad p {
    color: rgb(65, 65, 65);
    line-height: 25px;
}

.ad img {
    margin-top: 40px;
}




/* Section 5 */

.section-5 {
    margin-top: 120px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.textarea-5 {
    line-height: 25px;
}

.textarea-5 h4 {
    font-weight: 700;
    margin-bottom: 20px;
}

.textarea-5 h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 22px;
}

.textarea-5 h1 span {
    color: #F00;
}

.textarea-5 p {
    text-align: center;
    padding: 0 250px;
    color: grey;
}

.img-1 {
    margin-bottom: -20px;
    margin-left: 1320px;
    display: flex;
    justify-content: end;
    scale: 90%;
}

.img-2 {
    scale: 102%;
}

.img-3 {
    position: absolute;
    top: -400px;
    left: 0;
    scale: 80%;
}

.discount-img {
    position: absolute;
    scale: 50%;
    right: 180px;
    rotate: 320deg;
}



/* Section 6 */

.section-6 {
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
}

.textarea-6 {
    line-height: 25px;
}

.textarea-6 h4 {
    color: #F00;
    font-weight: 900;
    margin-bottom: 20px;
}

.textarea-6 h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 22px;
}

.textarea-6 p {
    text-align: left;
    padding-right: 250px;
    color: rgb(94, 94, 94);
}

.portfolio-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
    row-gap: 20px;
}

.portfolio-grid div {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 450px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.product-img:hover {
    box-shadow: 2px 2px 9px #F00;
    scale: 107%;
}





/* Section 7 */

.section-7 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 100px;
}

.mail {
    display: flex;
    justify-content: center;
    scale: 60%;
    margin-top: 00px;
}

.textarea-7 {
    text-align: center;
}

.textarea-7 h1 {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 900;
}

.textarea-7 p {
    color: rgb(73, 73, 73);
    padding: 10px 150px;
    margin-bottom: 20px;
}

.textarea-7 label>input {
    width: 350px;
    height: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    padding:0 30px;
    outline: none;
    box-shadow: inset 1px 1px 4px rgb(216, 214, 214);
}

.textarea-7 label>input:focus{
    border: 1px solid #F00;
    height: 58px;
}

.textarea-7 button{
    width: 150px;
    height: 60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    background-color: #F00;
    color: white;
    font-weight: 600;
    margin-left: -5px;
    cursor: pointer;
    transition: 0.3s;
}
.textarea-7 button:hover{
    background-color: rgb(211, 3, 3);
    font-size: 15px;
}

/* Footer Section */

.footer{
    background: #070211;
    color: white;
    margin-top: 120px;
    padding: 100px 140px;
}

.footer hr{
    margin: 50px 100px;
    opacity: 20%;
}

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 15px;
}

.address{
    line-height:35px;
    background: linear-gradient(90deg, grey 0%, #F00 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact{
    margin-bottom: 12px;
    background: rgb(253,110,10);
    background: linear-gradient(90deg, #F00 60%, grey 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact p{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.contact p img{
    margin-right: 10px;
    scale: 80%;
}
.third-section{
    display: flex;
    justify-content: space-between;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    scale: 60%;
    cursor: pointer;
}